@use "sass:math";

:root {
    --design-width: #{$vmDesignWidth}px;
    --design-multiple: #{$vmDesignMultiple};
    --max-window: #{$vmMaxWindow};
    --min-window: #{$vmMinWindow};
}

/* #ifdef H5 */
html {
    --body-width: #{$vmDesignWidth}px;
    --tabbar-height: 50px;
}

// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
body {
    max-width: var(--max-window);
    min-width: var(--min-window);

    // min-height: 100vh;
    margin: 0 auto !important;
    font-size: 12px;
    line-height: 1;
    color: #000;
    background: #f4f4f4;
}

.title-bar {
    max-width: var(--max-window);
}

/* #endif */

.fixed-center {
    left: calc((100% - var(--body-width)) / 2) !important;
    width: 100%;
    max-width: var(--max-window);
    min-width: var(--min-window);
}

.body {
    position: absolute;
    width: 100%;

    // height: 100vh;
    // padding-bottom: var(--tabbar-height);
    // height: 100vh;
    max-width: var(--max-window);
    min-width: var(--min-window);
    overflow-y: scroll;
    background: #f8f8f8;
    box-sizing: border-box;
    transition: all 0.4s;
    -webkit-overflow-scrolling: touch;

    &.is-tab {
        height: calc(100vh - var(--tabbar-height));
    }
}

/* #ifdef H5 */
div, span {
    box-sizing: border-box;
}

/* #endif */
view, text {
    box-sizing: border-box;
}

page {
    box-sizing: border-box;
}

.app {
    color: #000;
    background: #FEFAEC;

    &.layout-img {
        background: #FEFAEC url('http://cdn.mmxiaowu.com/upload/layout-home-bg.png') no-repeat;
        background-size: cover;
    }

    &.layout-white {
        background: #fff;
    }

    &.layout-gray {
        background: #F0F0F0;
    }

    &.layout-invite {
        background: #FEFAEC url('http://cdn.mmxiaowu.com/upload/invite-bg.png') no-repeat;
        background-size: contain;
    }
}

.dark {
    color: #fff;
    background: #121212;
}

.wrap {
    position: relative;
    width: 100%;
    min-height: calc(100vh - var(--window-top));
    padding: 24px;
    padding-top: 0;
    overflow: hidden;
    box-sizing: border-box;

    &.wrap-tab {
        min-height: calc(100vh - var(--window-top) - var(--window-bottom));
    }
}


.global-loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
}

.router-loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
}

.load-more {
    margin: 10px 0;
}

/* 通用样式 */

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(100%, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-100%, 0);
}

/* .fade-leave-active below version 2.1.8 */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

