.wrap {
    .tn-navbar {
        left: 50% !important;
        width: 750px !important;
        margin-left: -375px !important;
    }

    /* #ifdef MP */
    .wd-swiper {
        height: 100%;
    }

    /* #endif */
}
