body,
page {
    --wot-color-white: rgb(255, 255, 255);
    --wot-color-black: rgb(0, 0, 0);
    --wot-color-success: #34d19d;
    --wot-color-warning: #f0883a;
    --wot-color-danger: #fa4350;
    --wot-color-purple: #8268de;
    --wot-color-yellow: #f0cd1d;
    --wot-color-blue: #2bb3ed;
    --wot-color-info: #909399;
    --wot-color-gray-1: #f7f8fa;
    --wot-color-gray-2: #f2f3f5;
    --wot-color-gray-3: #ebedf0;
    --wot-color-gray-4: #dcdee0;
    --wot-color-gray-5: #c8c9cc;
    --wot-color-gray-6: #969799;
    --wot-color-gray-7: #646566;
    --wot-color-gray-8: #323233;
    --wot-font-gray-1: rgb(0, 0, 0, 0.9);
    --wot-font-gray-2: rgb(0, 0, 0, 0.6);
    --wot-font-gray-3: rgb(0, 0, 0, 0.4);
    --wot-font-gray-4: rgb(0, 0, 0, 0.26);
    --wot-font-white-1: rgb(255, 255, 255, 1);
    --wot-font-white-2: rgb(255, 255, 255, 0.55);
    --wot-font-white-3: rgb(255, 255, 255, 0.35);
    --wot-font-white-4: rgb(255, 255, 255, 0.22);
    --wot-color-content: #262626;
    --wot-color-secondary: #595959;
    --wot-color-aid: #8c8c8c;
    --wot-color-tip: #bfbfbf;
    --wot-color-border: #d9d9d9;
    --wot-color-border-light: #e8e8e8;
    --wot-color-bg: #f5f5f5;
    --wot-dark-background: #131313;
    --wot-dark-background2: #1b1b1b;
    --wot-dark-background3: #141414;
    --wot-dark-background4: #323233;
    --wot-dark-background5: #646566;
    --wot-dark-background6: #380e08;
    --wot-dark-background7: #707070;
    --wot-dark-color2: #f2270c;
    --wot-dark-color3: rgb(232, 230, 227, 0.8);
    --wot-dark-border-color: #3a3a3c;
    --wot-color-icon: #d9d9d9;
    --wot-color-icon-active: #eee;
    --wot-color-icon-disabled: #a7a7a7;
    --wot-fs-big: 24px;
    --wot-fs-important: 19px;
    --wot-fs-title: 16px;
    --wot-fs-content: 14px;
    --wot-fs-secondary: 12px;
    --wot-fs-aid: 10px;
    --wot-fw-medium: 500;
    --wot-fw-semibold: 600;
    --wot-size-side-padding: 15px;
    --wot-action-sheet-weight: 500;
    --wot-action-sheet-radius: 16px;
    --wot-action-sheet-loading-size: 20px;
    --wot-action-sheet-action-height: 48px;
    --wot-action-sheet-color: rgb(0, 0, 0, 0.85);
    --wot-action-sheet-subname-color: rgb(0, 0, 0, 0.45);
    --wot-action-sheet-disabled-color: rgb(0, 0, 0, 0.25);
    --wot-action-sheet-title-height: 64px;
    --wot-action-sheet-close-color: rgb(0, 0, 0, 0.65);
    --wot-action-sheet-close-top: 25px;
    --wot-action-sheet-close-right: 15px;
    --wot-action-sheet-cancel-color: #131415;
    --wot-action-sheet-cancel-height: 44px;
    --wot-action-sheet-cancel-bg: rgb(240, 240, 240, 1);
    --wot-action-sheet-cancel-radius: 22px;
    --wot-action-sheet-panel-padding: 12px 0 11px;
    --wot-action-sheet-panel-img-fs: 40px;
    --wot-action-sheet-panel-img-radius: 4px;
    --wot-badge-color: #fff;
    --wot-badge-fs: 12px;
    --wot-badge-padding: 0 5px;
    --wot-badge-height: 16px;
    --wot-badge-dot-size: 6px;
    --wot-button-disabled-opacity: 0.6;
    --wot-button-small-height: 28px;
    --wot-button-small-padding: 0 12px;
    --wot-button-small-radius: 2px;
    --wot-button-small-loading: 14px;
    --wot-button-medium-height: 36px;
    --wot-button-medium-padding: 0 16px;
    --wot-button-medium-radius: 4px;
    --wot-button-medium-loading: 18px;
    --wot-button-medium-box-shadow-size: 0px 2px 4px 0px;
    --wot-button-large-height: 44px;
    --wot-button-large-padding: 0 36px;
    --wot-button-large-radius: 8px;
    --wot-button-large-loading: 24px;
    --wot-button-large-box-shadow-size: 0px 4px 8px 0px;
    --wot-button-icon-fs: 1.18em;
    --wot-button-icon-size: 40px;
    --wot-button-icon-color: rgb(0, 0, 0, 0.65);
    --wot-button-normal-disabled-color: rgb(0, 0, 0, 0.25);
    --wot-button-info-bg-color: #f0f0f0;
    --wot-button-info-plain-border-color: rgb(0, 0, 0, 0.45);
    --wot-button-info-plain-normal-color: rgb(0, 0, 0, 0.85);
    --wot-button-text-hover-opacity: 0.7;
    --wot-cell-line-height: 24px;
    --wot-cell-group-title-color: rgb(0, 0, 0, 0.85);
    --wot-cell-wrapper-padding: 10px;
    --wot-cell-wrapper-padding-large: 12px;
    --wot-cell-wrapper-padding-with-label: 16px;
    --wot-cell-icon-right: 4px;
    --wot-cell-icon-size: 16px;
    --wot-cell-title-fs: 14px;
    --wot-cell-title-color: rgb(0, 0, 0, 0.85);
    --wot-cell-label-fs: 12px;
    --wot-cell-label-color: rgb(0, 0, 0, 0.45);
    --wot-cell-value-fs: 14px;
    --wot-cell-value-color: rgb(0, 0, 0, 0.85);
    --wot-cell-arrow-size: 18px;
    --wot-cell-arrow-color: rgb(0, 0, 0, 0.25);
    --wot-cell-clear-color: #585858;
    --wot-cell-tap-bg: rgb(0, 0, 0, 0.06);
    --wot-cell-title-fs-large: 16px;
    --wot-cell-label-fs-large: 14px;
    --wot-cell-icon-size-large: 18px;
    --wot-cell-required-size: 18px;
    --wot-cell-vertical-top: 16px;
    --wot-calendar-fs: 16px;
    --wot-calendar-panel-padding: 0 12px;
    --wot-calendar-panel-title-fs: 14px;
    --wot-calendar-panel-title-color: rgb(0, 0, 0, 0.85);
    --wot-calendar-week-color: rgb(0, 0, 0, 0.85);
    --wot-calendar-week-height: 36px;
    --wot-calendar-week-fs: 12px;
    --wot-calendar-day-fs: 16px;
    --wot-calendar-day-color: rgb(0, 0, 0, 0.85);
    --wot-calendar-day-fw: 500;
    --wot-calendar-day-height: 64px;
    --wot-calendar-month-width: 50px;
    --wot-calendar-disabled-color: rgb(0, 0, 0, 0.25);
    --wot-calendar-range-color: rgba(#4d80f0, 0.09);
    --wot-calendar-active-border: 8px;
    --wot-calendar-info-fs: 10px;
    --wot-checkbox-margin: 10px;
    --wot-checkbox-label-margin: 9px;
    --wot-checkbox-size: 16px;
    --wot-checkbox-icon-size: 14px;
    --wot-checkbox-border-color: #dcdcdc;
    --wot-checkbox-label-fs: 14px;
    --wot-checkbox-label-color: rgb(0, 0, 0, 0.85);
    --wot-checkbox-disabled-color: rgb(0, 0, 0, 0.04);
    --wot-checkbox-disabled-label-color: rgb(0, 0, 0, 0.25);
    --wot-checkbox-disabled-check-color: rgb(0, 0, 0, 0.15);
    --wot-checkbox-disabled-check-bg: rgb(0, 0, 0, 0.15);
    --wot-checkbox-square-radius: 4px;
    --wot-checkbox-large-size: 18px;
    --wot-checkbox-large-label-fs: 16px;
    --wot-checkbox-button-height: 32px;
    --wot-checkbox-button-min-width: 78px;
    --wot-checkbox-button-radius: 16px;
    --wot-checkbox-button-bg: rgb(0, 0, 0, 0.04);
    --wot-checkbox-button-font-size: 14px;
    --wot-checkbox-button-border: #f5f5f5;
    --wot-checkbox-button-disabled-border: rgb(0, 0, 0, 0.15);
    --wot-collapse-body-padding: 14px 25px;
    --wot-collapse-title-color: rgb(0, 0, 0, 0.85);
    --wot-collapse-title-fs: 16px;
    --wot-collapse-arrow-size: 18px;
    --wot-collapse-arrow-color: #d8d8d8;
    --wot-collapse-body-fs: 14px;
    --wot-collapse-body-color: rgb(0, 0, 0, 0.65);
    --wot-collapse-disabled-color: rgb(0, 0, 0, 0.15);
    --wot-collapse-retract-fs: 14px;
    --wot-divider-color: rgb(0, 0, 0, 0.45);
    --wot-divider-line-color: rgb(0, 0, 0, 0.15);
    --wot-divider-fs: 14px;
    --wot-drop-menu-height: 48px;
    --wot-drop-menu-disabled-color: rgb(0, 0, 0, 0.25);
    --wot-drop-menu-item-height: 48px;
    --wot-drop-menu-item-color-tip: rgb(0, 0, 0, 0.45);
    --wot-drop-menu-option-check-size: 20px;
    --wot-drop-menu-line-height: 3px;
    --wot-input-number-color: #262626;
    --wot-input-number-border-color: #e8e8e8;
    --wot-input-number-disabled-color: rgb(0, 0, 0, 0.25);
    --wot-input-number-height: 24px;
    --wot-input-number-btn-width: 26px;
    --wot-input-number-input-width: 36px;
    --wot-input-number-radius: 4px;
    --wot-input-number-fs: 12px;
    --wot-input-number-icon-size: 14px;
    --wot-input-number-icon-color: rgb(0, 0, 0, 0.65);
    --wot-input-border-color: #dadada;
    --wot-input-not-empty-border-color: #262626;
    --wot-input-icon-margin: 8px;
    --wot-input-color: #262626;
    --wot-input-placeholder-color: #bfbfbf;
    --wot-input-disabled-color: #d9d9d9;
    --wot-input-icon-color: #bfbfbf;
    --wot-input-clear-color: #585858;
    --wot-input-count-color: #bfbfbf;
    --wot-input-count-current-color: #262626;
    --wot-input-cell-padding: 10px;
    --wot-input-cell-padding-large: 12px;
    --wot-input-cell-height: 24px;
    --wot-input-cell-label-width: 33%;
    --wot-input-inner-height: 34px;
    --wot-input-inner-height-no-border: 24px;
    --wot-input-count-fs: 14px;
    --wot-input-count-fs-large: 14px;
    --wot-input-icon-size: 16px;
    --wot-input-icon-size-large: 18px;
    --wot-textarea-border-color: #dadada;
    --wot-textarea-not-empty-border-color: #262626;
    --wot-textarea-icon-margin: 8px;
    --wot-textarea-color: #262626;
    --wot-textarea-icon-color: #bfbfbf;
    --wot-textarea-clear-color: #585858;
    --wot-textarea-count-color: #bfbfbf;
    --wot-textarea-count-current-color: #262626;
    --wot-textarea-cell-padding: 10px;
    --wot-textarea-cell-padding-large: 12px;
    --wot-textarea-cell-height: 24px;
    --wot-textarea-count-fs: 14px;
    --wot-textarea-count-fs-large: 14px;
    --wot-textarea-icon-size: 16px;
    --wot-textarea-icon-size-large: 18px;
    --wot-loadmore-height: 48px;
    --wot-loadmore-color: rgb(0, 0, 0, 0.45);
    --wot-loadmore-fs: 14px;
    --wot-message-box-width: 300px;
    --wot-message-box-radius: 16px;
    --wot-message-box-padding: 25px 24px 0;
    --wot-message-box-title-fs: 16px;
    --wot-message-box-title-color: rgb(0, 0, 0, 0.85);
    --wot-message-box-content-fs: 14px;
    --wot-message-box-content-color: #666;
    --wot-message-box-content-max-height: 264px;
    --wot-message-box-content-scrollbar-width: 4px;
    --wot-message-box-content-scrollbar-color: rgb(0, 0, 0, 0.1);
    --wot-notice-bar-fs: 12px;
    --wot-notice-bar-line-height: 18px;
    --wot-notice-bar-border-radius: 8px;
    --wot-notice-bar-padding: 9px 20px 9px 15px;
    --wot-notice-bar-warning-bg: #fff6c8;
    --wot-notice-bar-info-bg: #f4f9ff;
    --wot-notice-bar-danger-bg: #feeced;
    --wot-notice-bar-prefix-size: 18px;
    --wot-notice-bar-close-bg: rgb(0, 0, 0, 0.15);
    --wot-notice-bar-close-size: 18px;
    --wot-pagination-content-padding: 10px 15px;
    --wot-pagination-message-padding: 1px 0 16px 0;
    --wot-pagination-message-fs: 12px;
    --wot-pagination-message-color: rgb(0, 0, 0, 0.69);
    --wot-pagination-nav-border: 1px solid rgb(0, 0, 0, 0.45);
    --wot-pagination-nav-border-radius: 16px;
    --wot-pagination-nav-fs: 12px;
    --wot-pagination-nav-width: 60px;
    --wot-pagination-nav-color: rgb(0, 0, 0, 0.85);
    --wot-pagination-nav-content-fs: 12px;
    --wot-pagination-nav-sepatator-padding: 0 4px;
    --wot-picker-toolbar-height: 54px;
    --wot-picker-action-height: 16px;
    --wot-picker-toolbar-cancel-color: #666;
    --wot-picker-toolbar-title-color: rgb(0, 0, 0, 0.85);
    --wot-picker-column-fs: 16px;
    --wot-picker-column-active-fs: 18px;
    --wot-picker-column-color: rgb(0, 0, 0, 0.85);
    --wot-picker-column-height: 210px;
    --wot-picker-column-item-height: 35px;
    --wot-picker-column-select-bg: #f5f5f5;
    --wot-picker-loading-button-color: rgb(0, 0, 0, 0.25);
    --wot-picker-column-disabled-color: rgb(0, 0, 0, 0.25);
    --wot-picker-mask: linear-gradient(180deg, hsl(0deg, 0%, 100%, 0.9), hsl(0deg, 0%, 100%, 0.25));
    --wot-picker-region-separator-color: rgb(0, 0, 0, 0.65);
    --wot-picker-region-color: rgb(0, 0, 0, 0.45);
    --wot-picker-region-fs: 14px;
    --wot-col-picker-selected-height: 44px;
    --wot-col-picker-selected-padding: 0 16px;
    --wot-col-picker-selected-fs: 14px;
    --wot-col-picker-selected-color: rgb(0, 0, 0, 0.85);
    --wot-col-picker-selected-fw: 700;
    --wot-col-picker-line-width: 16px;
    --wot-col-picker-line-height: 3px;
    --wot-col-picker-line-box-shadow: 0px 1px 2px 0px rgb(1, 87, 255, 0.2);
    --wot-col-picker-list-height: 53vh;
    --wot-col-picker-list-padding-bottom: 30px;
    --wot-col-picker-list-color: rgb(0, 0, 0, 0.85);
    --wot-col-picker-list-color-disabled: rgb(0, 0, 0, 0.15);
    --wot-col-picker-list-color-tip: rgb(0, 0, 0, 0.45);
    --wot-col-picker-list-fs: 14px;
    --wot-col-picker-list-fs-tip: 12px;
    --wot-col-picker-list-item-padding: 12px 15px;
    --wot-col-picker-list-checked-icon-size: 18px;
    --wot-overlay-bg: rgb(0, 0, 0, 0.65);
    --wot-overlay-bg-dark: rgb(0, 0, 0, 0.75);
    --wot-popup-close-size: 24px;
    --wot-popup-close-color: #666;
    --wot-progress-padding: 9px 0 8px;
    --wot-progress-bg: rgb(229, 229, 229, 1);
    --wot-progress-height: 3px;
    --wot-progress-label-color: #333;
    --wot-progress-label-fs: 14px;
    --wot-progress-icon-fs: 18px;
    --wot-radio-size: 16px;
    --wot-radio-button-min-width: 60px;
    --wot-radio-button-max-width: 144px;
    --wot-radio-dot-size: 8px;
    --wot-radio-dot-large-size: 10px;
    --wot-radio-dot-border-color: #dcdcdc;
    --wot-radio-dot-disabled-border: #d9d9d9;
    --wot-radio-dot-disabled-bg: #d9d9d9;
    --wot-search-input-radius: 15px;
    --wot-search-input-height: 30px;
    --wot-search-input-padding: 0 32px 0 42px;
    --wot-search-input-color: #262626;
    --wot-search-icon-size: 18px;
    --wot-search-placeholder-color: #bfbfbf;
    --wot-search-cancel-color: rgb(0, 0, 0, 0.65);
    --wot-slider-handle-radius: 12px;
    --wot-slider-axie-height: 3px;
    --wot-slider-color: #333;
    --wot-slider-axie-bg: #e5e5e5;
    --wot-slider-disabled-color: rgb(0, 0, 0, 0.25);
    --wot-sort-button-height: 48px;
    --wot-sort-button-line-height: 3px;
    --wot-steps-icon-size: 22px;
    --wot-steps-inactive-color: rgb(0, 0, 0, 0.25);
    --wot-steps-description-color: rgb(0, 0, 0, 0.45);
    --wot-steps-is-icon-width: 30px;
    --wot-steps-line-color: rgb(0, 0, 0, 0.15);
    --wot-steps-dot-size: 7px;
    --wot-steps-dot-active-size: 9px;
    --wot-switch-size: 28px;
    --wot-switch-width: calc(1.8em + 4px);
    --wot-switch-height: calc(1em + 4px);
    --wot-switch-circle-size: 1em;
    --wot-switch-border-color: #e5e5e5;
    --wot-switch-active-shadow-color: rgb(0, 83, 162, 0.5);
    --wot-switch-inactive-color: #eaeaea;
    --wot-switch-inactive-shadow-color: rgb(155, 155, 155, 0.5);
    --wot-tabs-nav-arrow-fs: 18px;
    --wot-tabs-nav-arrow-open-fs: 14px;
    --wot-tabs-nav-width: 100vw;
    --wot-tabs-nav-height: 42px;
    --wot-tabs-nav-color: rgb(0, 0, 0, 0.85);
    --wot-tabs-nav-disabled-color: rgb(0, 0, 0, 0.25);
    --wot-tabs-nav-line-height: 3px;
    --wot-tabs-nav-line-width: 19px;
    --wot-tabs-nav-map-color: rgb(0, 0, 0, 0.85);
    --wot-tabs-nav-map-arrow-color: rgb(0, 0, 0, 0.65);
    --wot-tabs-nav-map-button-back-color: rgb(0, 0, 0, 0.04);
    --wot-tabs-nav-map-button-radius: 16px;
    --wot-tag-info-color: #585858;
    --wot-tag-round-color: rgb(102, 102, 102, 1);
    --wot-tag-round-border-color: rgb(225, 225, 225, 1);
    --wot-tag-round-radius: 12px;
    --wot-tag-mark-radius: 6px 2px 6px 2px;
    --wot-tag-close-size: 14px;
    --wot-tag-close-active-color: rgb(0, 0, 0, 0.45);
    --wot-toast-padding: 16px 24px;
    --wot-toast-max-width: 300px;
    --wot-toast-radius: 8px;
    --wot-toast-with-icon-min-width: 150px;
    --wot-toast-icon-size: 32px;
    --wot-toast-icon-margin-right: 12px;
    --wot-toast-loading-padding: 10px;
    --wot-toast-box-shadow: 0px 6px 16px 0px rgb(0, 0, 0, 0.08);
    --wot-loading-size: 32px;
    --wot-tooltip-bg: rgb(38, 39, 40, 0.8);
    --wot-tooltip-radius: 8px;
    --wot-tooltip-arrow-size: 5px;
    --wot-tooltip-blur: 10px;
    --wot-tooltip-padding: 9px 20px;
    --wot-tooltip-close-size: 6px;
    --wot-tooltip-z-index: 500;
    --wot-tooltip-line-height: 18px;
    --wot-popover-color: rgb(0, 0, 0, 0.85);
    --wot-popover-box-shadow: 0px 2px 10px 0px rgb(0, 0, 0, 0.1);
    --wot-popover-arrow-box-shadow: 0px 2px 10px 0px rgb(0, 0, 0, 0.2);
    --wot-popover-border-color: rgb(0, 0, 0, 0.09);
    --wot-popover-radius: 4px;
    --wot-popover-arrow-size: 6px;
    --wot-popover-padding: 15px;
    --wot-popover-line-height: 18px;
    --wot-grid-item-fs: 12px;
    --wot-grid-item-padding: 14px 0px;
    --wot-statustip-color: rgb(0, 0, 0, 0.45);
    --wot-statustip-line-height: 16px;
    --wot-statustip-padding: 5px 10px;
    --wot-card-footer-padding: 12px 0 16px;
    --wot-card-shadow-color: 0px 4px 8px 0px rgb(0, 0, 0, 0.02);
    --wot-card-radius: 8px;
    --wot-card-line-height: 1.1;
    --wot-card-title-color: rgb(0, 0, 0, 0.85);
    --wot-card-content-border-color: rgb(0, 0, 0, 0.09);
    --wot-card-rectangle-title-padding: 15px 15px 12px;
    --wot-card-rectangle-content-padding: 16px 0;
    --wot-card-rectangle-footer-padding: 12px 0;
    --wot-card-content-color: rgb(0, 0, 0, 0.45);
    --wot-card-content-line-height: 1.428;
    --wot-card-content-margin: 13px 0 12px;
    --wot-card-content-rectangle-margin: 14px 0 12px;
    --wot-upload-size: 80px;
    --wot-upload-evoke-icon-size: 32px;
    --wot-upload-evoke-bg: rgb(0, 0, 0, 0.04);
    --wot-upload-evoke-color: rgb(0, 0, 0, 0.25);
    --wot-upload-evoke-disabled-color: rgb(0, 0, 0, 0.09);
    --wot-upload-close-icon-size: 16px;
    --wot-upload-close-icon-color: rgb(0, 0, 0, 0.65);
    --wot-upload-progress-fs: 14px;
    --wot-upload-file-fs: 12px;
    --wot-upload-preview-name-fs: 12px;
    --wot-upload-preview-icon-size: 24px;
    --wot-upload-preview-name-bg: rgb(0, 0, 0, 0.6);
    --wot-upload-preview-name-height: 22px;
    --wot-upload-cover-icon-size: 22px;
    --wot-curtain-content-radius: 24px;
    --wot-notify-padding: 8px 16px;
    --wot-notify-line-height: 20px;
    --wot-skeleton-background-color: #eee;
    --wot-skeleton-animation-gradient: rgb(0, 0, 0, 0.04);
    --wot-skeleton-animation-flashed: rgb(230, 230, 230, 0.3);
    --wot-skeleton-text-height-default: 16px;
    --wot-skeleton-rect-height-default: 16px;
    --wot-skeleton-circle-height-default: 48px;
    --wot-skeleton-row-margin-bottom: 16px;
    --wot-skeleton-border-radius-text: 2px;
    --wot-skeleton-border-radius-rect: 4px;
    --wot-skeleton-border-radius-circle: 50%;
    --wot-swiper-radius: 8px;
    --wot-swiper-item-padding: 0;
    --wot-swiper-item-text-color: #fff;
    --wot-swiper-nav-dot-size: 12rpx;
    --wot-swiper-nav-dots-bar-active-width: 40rpx;
    --wot-swiper-nav-fraction-height: 48rpx;
    --wot-swiper-nav-fraction-font-size: 24rpx;
    --wot-swiper-nav-btn-size: 48rpx;
    --wot-segmented-padding: 4px;
    --wot-segmented-item-bg-color: #eee;
    --wot-segmented-item-color: rgb(0, 0, 0, 0.85);
    --wot-segmented-item-acitve-bg: #fff;
    --wot-segmented-item-disabled-color: rgb(0, 0, 0, 0.25);
    --wot-tabbar-height: 50px;
    --wot-tabbar-item-title-font-size: 10px;
    --wot-tabbar-item-title-line-height: initial;
    --wot-tabbar-item-icon-size: 20px;
    --wot-navbar-height: 44px;
    --wot-navbar-arrow-size: 24px;
    --wot-navbar-desc-font-size: 16px;
    --wot-navbar-title-font-size: 18px;
    --wot-navbar-title-font-weight: 600;
    --wot-navbar-disabled-opacity: 0.6;
    --wot-navbar-hover-color: #eee;
    --wot-navbar-capsule-border-color: #e7e7e7;
    --wot-navbar-capsule-border-radius: 16px;
    --wot-navbar-capsule-width: 88px;
    --wot-navbar-capsule-height: 32px;
    --wot-navbar-capsule-icon-size: 20px;
    --wot-table-bg: #fff;
    --wot-table-stripe-bg: #f3f3f3;
    --wot-table-border-color: #ececec;
    --wot-table-font-size: 13px;
    --wot-sidebar-width: 104px;
    --wot-sidebar-height: 100%;
    --wot-sidebar-item-height: 56px;
    --wot-sidebar-item-line-height: 24px;
    --wot-sidebar-border-radius: 8px;
    --wot-sidebar-font-size: 16px;
    --wot-sidebar-icon-size: 20px;
    --wot-sidebar-active-border-width: 4px;
    --wot-sidebar-active-border-height: 16px;
    --wot-fab-trigger-height: 56px;
    --wot-fab-trigger-width: 56px;
    --wot-actions-padding: 12px;
    --wot-fab-icon-fs: 20px;
    --wot-count-down-line-height: 20px;
    --wot-keyboard-key-height: 48px;
    --wot-keyboard-key-font-size: 28px;
    --wot-keyboard-key-border-radius: 8px;
    --wot-keyboard-delete-font-size: 16px;
    --wot-keyboard-button-active-opacity: 0.6;
    --wot-keyboard-title-height: 34px;
    --wot-keyboard-title-font-size: 16px;
    --wot-keyboard-close-font-size: 14px;
    --wot-keyboard-icon-size: 22px;
    --wot-number-keyboard-key-height: 48px;
    --wot-number-keyboard-key-font-size: 28px;
    --wot-number-keyboard-key-border-radius: 8px;
    --wot-number-keyboard-delete-font-size: 16px;
    --wot-number-keyboard-button-active-opacity: 0.6;
    --wot-number-keyboard-title-height: 34px;
    --wot-number-keyboard-title-font-size: 16px;
    --wot-number-keyboard-close-font-size: 14px;
    --wot-number-keyboard-icon-size: 22px;
    --wot-password-input-height: 50px;
    --wot-password-input-margin: 16px;
    --wot-password-input-radius: 6px;
    --wot-password-input-background: #fff;
    --wot-password-border-color: #ebedf0;
    --wot-password-input-dot-size: 10px;
    --wot-password-input-cursor-width: 1px;
    --wot-password-input-cursor-height: 40%;
    --wot-password-input-cursor-duration: 1s;
    --wot-form-item-error-message-line-height: 24px;
    --wot-backtop-bg: #e1e1e1;
    --wot-backtop-icon-size: 20px;
    --wot-video-preview-bg: rgb(0, 0, 0, 0.8);
    --wot-video-preview-close-color: #fff;
    --wot-video-preview-close-font-size: 20px;
    --wot-img-cropper-icon-color: #fff;
    --wot-floating-panel-radius: 16px;
    --wot-floating-panel-z-index: 99;
    --wot-floating-panel-header-height: 30px;
    --wot-floating-panel-bar-width: 20px;
    --wot-floating-panel-bar-height: 3px;
    --wot-floating-panel-bar-radius: 4px;
}
