.mt-10 {
    margin-top: 10px;
}

.about-wrap {
    .van-panel__content {
        padding: 6.5px;
        font-size: 12px;
    }

    .van-panel__footer {
        text-align: right;
    }
}

.about-detail-wrap {
    padding-top: 60px;
}

.avatar-wrap {
    .croppa-container {
        display: block;
        width: 200Px;
        height: 200Px;
        margin: 10px auto;
        background-color: lightblue;

        // border: 2px solid grey;
        border-radius: 4px;
        box-sizing: content-box;

        canvas {
            border-radius: 0.08rem;
        }
    }

    .croppa-container:hover {
        background-color: #8ac9ef;
        opacity: 1;
    }

    .preview {
        margin-top: 15px;
        text-align: center;

        // img {
        //     max-width: 100px;
        // }
    }
}
