page {
    box-sizing: border-box;
}

.app {
    color: #000;
    background: #fff;

    &.layout-home {
        background: #FEFAEC;
    }
}

.dark {
    color: #fff;
    background: #121212;
}


.home-wrap {
    .van-pull-refresh {
        min-height: calc(100vh - var(--tabbar-height));

        .van-pull-refresh__track {
            min-height: calc(100vh - var(--tabbar-height));
        }
    }

    .scroller {
        height: 100vh;
    }
}

.home-normal-wrap {
    .lists {
        padding: 0 15px;
        background: #fff;

        .item {
            padding: 10px 0;

            // a {
            //     line-height: 1.5;
            //     color: #323232;
            // }
        }
    }
}

.home-detail-wrap {
    padding-top: 46px;
    background: #fff;

    .van-nav-bar__text:active {
        background: #fff;
    }

    .article-content {
        padding: 10px;

        .title {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }

        .date-time {
            margin-top: 5px;
            color: #666;
            text-align: center;
        }

        .content {
            padding-top: 10px;
            font-size: 14px;
            color: #333;

            // p {
            //     line-height: 1.5;

            //     & + p {
            //         margin-top: 5px;
            //     }

            //     img {
            //         max-width: 100%;
            //     }
            // }

            // pre {
            //     width: 100%;
            //     padding: 10px 0;
            //     overflow-x: scroll;
            //     overflow-y: hidden;
            //     -webkit-overflow-scrolling: touch;
            // }
        }
    }

    .replies {
        overflow: hidden;
        background: #f4f4f4;

        .van-panel {
            margin-top: 10px;
        }

        .van-panel__content {
            padding: 10px;
        }

        .markdown-text {
            // img {
            //     max-width: 100%;
            // }
        }
    }
}
